# Archivos de configuración local y secretos
# ¡NUNCA subas estos archivos a tu repositorio!
.env.local
/app/google-services.json
local.properties

# Archivos y carpetas generados por el IDE y el sistema de compilación
*.iml
*.hprof
*.pyc
.gradle
.idea/
build/
/captures
.externalNativeBuild
.cxx
.DS_Store